.card-text{
    color: var(--purple);
    font:var(--headline6);
    justify-content: left;
}


@media screen and (min-width: 768px){
    .card-text{
        font: var(--headline5);
        text-align: center;
    }
}

@media screen and (min-width: 1024px){
    .card-text{
        font: var(--headlineOx);
        text-align: center;
    }
}